{% extends 'base_layout.html' %}
{% block content %}
    <h1> Lista de Postagem </h1>
    <div class="articles">
        {% for post in post %}
        <div class="article">
          <h2>
            <a href="{% url 'blog:detail' pk=post.pk %}"> {{ post.titulo }} <a>
          </h2>
          <p> {{ post.dt_cri_post}} </p>
          <p class="author"> added by: {{post.autor.username}} </p>
          <p> {{ post.snippet|safe }} </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}

