body{
    background-color: #0f121f;
    background-image: url(stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
    padding-left: 15px;

}
body *{
    font-family: Ubuntu;
}
h3,h4,h5{
    font-weight: normal;
    margin: 0;
}

h1, h2{
    color: #C25100;
    font-family: 'Lobster';
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}